<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/static/bootstrap-theme.css" />
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <title>BlogHog.PigOut</title>
  </head>
  <body>
    <div class="container-fluid header">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><a href="/blog">Blog Hog</a></h1>
            <h5>The blog of blogs</h5>
          </div>
          <div class="col-md-6 text-right">
            {% if current_user %}
            <p class="no-margin">Welcome, <a href="/welcome">{{current_user}}</a></p>
            <a href="/blog/newpost">Create New Post</a><br />
            <a href="/logout">Log Out</a>
            {% else %}
            <a href="/login">Log In</a><br />
            <a href="/signup">Create Account</a>
            {% endif %}  
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.container-fluid.header -->

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
  </body>

</html>

