{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>{{post.subject}}</h2>
  </div><!-- /.col-md-12 -->
</div><!-- /.row -->
<div class="row post-header">
  <div class="col-md-8">
    <p>Posted by {% if current_user == author %}<a href="/welcome">{{author}}</a>{% else %}{{author}}{% endif %}, {{post.created.strftime("%b %d, %Y")}}. Last update: {{post.last_modified.strftime("%b %d at %H:%m,  %Y")}}</p>
  </div><!-- /.col-md-8 -->
  <div class="post-options col-md-4">
    {% if current_user == author %}
    <a href="/blog/editpost/{{post.key.id()}}">edit</a> | 
    <form method="post" action="/blog/deletepost">
      <input type="hidden" name="id" value="{{post.key.id()}}">
      <input type="submit" name="delete" value="delete" class="sanitize-btn-style">
    </form>
    {% endif %}
  </div><!-- /.post-options -->
</div><!-- /.row -->
<div class="row post-content">
  <div class="col-md-12">
    {{post.render_text() | safe}}
  </div><!-- /.col-md-12 -->
</div><!-- /.row -->
<div class="row post-footer">
  <div class="col-md-12">
    {% if current_user and current_user != author %}
    <form method="post" action="/blog/likepost">
      <input type="hidden" name="id" value="{{post.key.id()}}">
      <input type="submit" name="{{like_name}}" value="{{like_value}}" class="like sanitize-btn-style">
    </form>
    {% endif %}
    <p><i class="fa fa-thumbs-o-up"></i> {{post.likes}}</p>
    
  </div><!-- /.col-md-12 -->
</div><!-- /.row -->
{% if current_user %}
<div class="row post-write-comment">
  <div class="col-md-12">
    <h2>Post a comment</h2>
    <form action="/blog/postcomment" method="post" id="comment_form">
      <input type="hidden" name="id" value="{{post.key.id()}}">
      <input type="hidden" name="update_comment_id" id="update_comment" value="">
      <textarea name="comment_text" id="comment"></textarea>
      <input type="submit" id="comment_submit" value="Post Comment" />
      <a href="#" id="cancel" style="display:none;">Cancel</a>
    </form>
  </div><!-- /.col-md-12 -->
</div><!-- /.row -->
{% endif %}
{% if post.comments %}
<h2>Comments</h2>
<div class="repeater-wrapper">
  {% for c in post.comments %}
  <div class="odd-color" data-commentid="{{c.key.id()}}">
    <div class="row post-comments">
      <div class="col-md-6 text-bold">
        <p>Posted by {{c.author_name()}}, {{c.comment_created.strftime("%b %d, %Y")}}</p>
      </div><!-- /.col-md-6 -->
      <div class="col-md-6 text-right post-options">
        {% if current_user == c.author_name() %}
        <a href="#" class="edit-comment" data-editid="{{c.key.id()}}">edit</a> | 
        <form method="post" action="/blog/deletecomment">
          <input type="hidden" name="comment_id" value="{{c.key.id()}}">
          <input type="hidden" name="post_id" value="{{post.key.id()}}">
          <input type="submit" name="delete_comment" value="delete" class="sanitize-btn-style">
        </form>
        {% endif %}
      </div><!-- /.col-md-6 -->
    </div>
    <div class="row">
      <div class="col-md-12" class="comment-text" data-commenttext="{{c.key.id()}}">
        {{c.render_text() | safe}}
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.comment -->
  {% endfor %}
</div><!-- /.repeater-wrapper -->
{% endif %}
<script>
    $(document).ready(function() {
      //Disable the post comment button unless text is entered
      var cancel_btn = $('#cancel'),
          comment_form = $('#comment_form'),
          comment_submit = $('#comment_submit'),
          update_comment = $('#update_comment'),
          comment_textarea = $('#comment'),
          comment_submit = $("#comment_submit")

      comment_submit.attr('disabled', true);
      $('#comment').on('keyup',function() {
          var textarea_value = $("#comment").val();
          if(textarea_value != '') {
              comment_submit.attr('disabled' , false);
          } else {
              comment_submit.attr('disabled' , true);
          }
      });

      //Pull comment text out and put into the textarea
      $('.edit-comment').click(function(e){
        e.preventDefault();
        var edit_id = $(this).data('editid'),
            comment_id = $('[data-commentid=' + edit_id + ']'),
            comment_text = $.trim($('[data-commenttext=' + edit_id + ']').text());
        cancel_btn.show();
        comment_submit.val('Edit Comment');
        update_comment.val(edit_id);
        comment_textarea.text(comment_text).val(comment_text); 

      cancel_btn.click(function(e) {
        e.preventDefault();
        comment_submit.val('Post Comment');
        comment_textarea.empty().val('');
        $(this).hide();
      })
      })
      });
  </script>

{% endblock %}
